name: Analyze datasets

on:
  schedule:
    - cron: "59 23 * * 0"   # Sunday, 23:59 (UTC)
    - cron: "59 23 * * 2"   # Tuesday, 23:59 (UTC)
    - cron: "59 23 * * 4"   # Thursday, 23:59 (UTC)

  workflow_dispatch:

jobs:
  analyze_ith_set:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        i: [6, 7, 8]

    name: Analyze set ${{ matrix.i }}
    container:
      image: python:3.12-slim

    steps:
      - name: Install git and wget
        run: |
          apt-get update
          apt-get install -y \
            git \
            wget \
            ca-certificates \

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create venv
        run: |
          python -m venv venv
          venv/bin/pip install --upgrade pip
          venv/bin/pip install -r requirements.txt

      - name: Analyze set ${{ matrix.i }}
        shell: bash
        run: |
          source venv/bin/activate
          ./ci/analyze_sets.sh ${{ matrix.i }} \
            apps/parameters_examples/set-wise/darknoise_input_parameters_set_6-8_massibo_v1.5.yml \
            apps/parameters_examples/set-wise/gain_input_parameters_set_6-8_massibo_v1.5.yml

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: analyze-set-${{ matrix.i }}-results
          path: |
            ci_workspace/summary/*_set_${{ matrix.i }}.pdf
            ci_workspace/summary/*_set_${{ matrix.i }}.csv